@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles applied by default */
:root {
  --background: #ffffff; /* Light background */
  --foreground: #171717; /* Dark text */
}

/* HTML and body styles for light mode */
html, body {
  color: var(--foreground); /* Dark text */
  background: var(--background); /* Light background */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
